rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // only auth
      allow create: if request.auth !=null;
      // user id matches the document to reaqd or delete
      allow read, delete:if request.auth.uid == resource.data.uid;
    }
  }
}